
.editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

html, body {
	background: #252020;
	color: #fff;
}

/* .btn { */
/* 	margin: 0 1.5em 0 1.5em; */
/* } */

.edit-project {
	margin-top: 2em;
	margin-bottom: 2em;
}


.minwidth {
	min-width: 150px;
}


img {
	width: auto;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	overflow: hidden;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table.sortable td {
	font-size: .8em;
	font-family: "arial"
}

.input-form {
	clear: right;
}

.table thead th {
	text-transform: uppercase;
    color: #78838e;
    font-weight: 600;
}

table .text-ellipsis {
	max-width: 350px;
	font-weight: 700 !important;
}

.table .text-ellipsis a {
	color: #fff;
}

.table .text-ellipsis a:hover {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: #ecc846;
} 

.table th {
	font-weight: 400;
}

.secrets {
	padding: 1em;
}

.password {
	font-size: 1.5;
	padding: 1em;
	/* display: inline-block; */
}


.navbar-text {
	margin-top: 22px;
}

.password .content {
	font-size: 1em;
}

.slices {

}

.slices ul {
	list-style: none;
}

.slices .content {
	font-size: .5em;
}

/* .qrcode {
    float: left;
    margin-left: -19px;
} */


.form-input {
	height: 50px;
	border-radius: 4px;
	border-color: #fff;
}

/* UPDATED STYLE */
.header {
    margin-top: 24px;
    padding-bottom: 16px;
		border-bottom: 1px solid #dadada59
}

.header .navbar-section .btn:first-of-type {
	background: transparent;
    margin-right: 8px;
}

.header .navbar-brand {
	font-weight:  600
}

.login-card .card-header {
	text-align: center
}


footer {
	margin-top: 60px;
}

footer .footer_container .logo {
	width: 300px;
}

.links a {
	margin-right: 25px;
	opacity: 0.6;
}

.links a:hover {
	opacity: 1;
}

.links a img {
	width: 25px;
}

.wallet-card {
	margin-bottom: 16px;
	background: #7f7fe2;
	background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
    border-radius: 16px;
	padding: 32px;
}

.wallet-card .avatar {
	border-radius: 120px;
	width: 120px;
	height: 120px;
}

.wallet-card .panel-title {
	font-size: 32px;
	color: white;
}

.wallet-card .panel-subtitle {
	font-size: 18px;
	color: white;
	margin-top: 8px;
}

.wallet-card .panel-subtitle i {
	margin-right: 8px;
}

.balance {
    padding: 16px;
    margin-top: 16px;
}

.balance h2 {
	margin: 0;
	font-size: 16px;
}

.balance h3 {
	margin: 0;
}

.balance h4 {
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
}

.qrcode img {
  margin: 0 auto;
  text-align: center;
  display: block;
}


.feeds {
	margin-top: 24px;
	border-radius: 4px;
	background: #f9f9f9
}

.footer {
	width: 100%;
    height: 216px;
    line-height: 1.5;
    background-color: #1d1919;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #22242C;
}

.feeds .feed {
	padding: 16px;
    padding-bottom: 0;
}
.footer_container {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.feed .divider {
	border-top: .05rem solid #e8e8e8;
}

.feed p.tile-title {
	margin-bottom: 0;
}

.feed p.tile-subtitle {
	margin: 0;
}

.feed .text-gray {
	margin-top: 5px;
    font-size: 14px;
    margin-right: 16px;
}


.filter .filter-nav {
  margin: .4rem 0;
  padding-top: 16px;
}

.filter .filter-body {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.maxwidth {
	max-width: 200px;
}


.info-login {
	border: none;
    background: rgb(245, 248, 250);
}

.info-login .card-image {
	margin: 16px;
}

.info-login .card-image img {
	width: 300px;
    margin: 0 auto;
    margin-top: 16px;
}

.hero_petitions {
	height: 340px;
	background: #f8f9f9;
  padding: 8px;
  border-radius: 4px;
	align-items: center;
	align-content: center;
  display: flex;
	margin-bottom: 40px;
  /* margin-top: 40px; */
	background-image: url("/static/img/hero.png");
	background-size: cover;
	background-position: top center;
}

.hero_content {
	margin: 0 auto;
	text-align: center;
}

.hero_content .submit {
	width: 30px;
	height: 30px;
	text-align: center;
	opacity: 0;
}

.hero_content i {
	right: 0.3rem
}

.hero_title {
	color: white;
}

.list_item {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  align-items: center; 
  border: 1px solid #ffffff7a;
}

.item_info {
	flex: 1;
}


.list_title {
    margin-bottom: 36px;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	position: relative;
}

.list_title:before {
	position: absolute;
	content: "";
	height: 4px;
	display: block;
	background: #ecc846;
	left: 0;
	bottom: -8px;
	width: 58px;
}

th span {
	background: #ecc84657;
    padding: 0px 10px;
    border-radius: 100px;
    font-variant: all-small-caps;
    font-size: 16px;
    height: 24px;
    display: inline-block;
    line-height: 22px;
}
.item_title {
	margin-bottom: 4px;
  font-size: 18px;
  max-width: 460px;
}

.item_date {
	font-size: 14px;
color: #00000045;
font-weight: 500;
}

.hero_petition {
	background: #7f7fe2;
	padding: 16px;
	display: flex;
	align-items: center;
	color: white;
}
.petition_info {
	border-top: 1px solid #ffffff29;
	padding-top: 20px;
}

.petition_info h5 {
	font-size: 16px;
  max-width: 600px
}

.petition_detail h5 {
	display: inline-block;
    background: #ffffff29;
    padding: 2px 8px;
    border-radius: 2px;
}

.details_payload {
	padding: 16px;
  background: #f7f1f7;
  border-radius: 4px;
  margin-bottom: 24px;
}

.payload_title {
	font-size: 24px;
  font-weight: 600;
	margin-bottom: 16px;
}

.payload_section {
  padding: 8px;
  margin-bottom: 16px;
  border-bottom: 4px solid white;
}

.payload_section_title {
	font-size: 14px;
	margin: 0;
	font-weight: 600;
	text-transform: uppercase;
}

.payload_item {
	margin-bottom: 16px;
  overflow-x: hidden;
  margin-top: 16px;
}

.details_header h6 {
	font-size: 24px;
font-weight: 600;
margin-bottom: 16px;
}


.detail_petition {
	margin-top: 40px;
}

.petition_info {
	margin-top: 40px;
}

.petition_detail h3 {
	text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.icon-search {
	color: #ecc846;
	margin-right: 16px;
}


.search {
	position: absolute;
    width: 40px;
    right: 8px;
    top: 8px;
	z-index: 9999;
}

.pagination a {
	/* font-family: "Source Sans Pro",sans-serif; */
    font-weight: 700;
    color: #0f0b06;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 2px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    height: 50px;
    background-color: #fcfcfd;
    border-radius: 25px;
    padding: 0 50px 0 50px;
    position: relative;
    -webkit-appearance: none;
    box-shadow: -5px 5px 0 0 #a9a9a9;
    transition: all .2s ease-in-out;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
    margin: 0 auto;
    margin-top: 40px;
}

.pagination a:hover {
	box-shadow: 0 0 0 2px #ecc846;
}

.detail_item {
	padding: 16px 0;
  border-bottom: 1px solid;
  margin-top: 16px;
}

#copy {
	float: right;
    margin-top: -25px;
    background: #25232240;
    border: 1px solid #ecc846;
    color: #ecc846;
}

code {
	font-size: 14px;
	font-family: monospace
}
.detail_title {
	text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.payload pre {
	margin-top: 24px;
}

.transactionId {
	word-break: break-all;
	font-size: 16px;
}
.petition_info_name {
	border-bottom: 1px solid #fff2;
    margin-bottom: 24px;
    padding-bottom: 24px;
}

.hero_petition a {
	display: flex;
    align-items: center;
	font-weight: 700;
    color: #0f0b06;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    height: 40px;
    background-color: #fcfcfd;
    border-radius: 25px;
    padding: 0 30px 0 30px;
    position: relative;
    -webkit-appearance: none;
    box-shadow: -5px 5px 0 0 #a9a9a9;
    transition: all .2s ease-in-out;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    /* margin: 0 auto; */
    margin-bottom: 40px;
}

.hero_petition a:hover {
	box-shadow: 0 0 0 2px #ecc846;
}

.hero_petition a i {
	margin-right: 8px;
}

.block {
	padding: 16px;
    background: #f7f7ff0d;
	border-radius: 6px;
	margin-top: 24px;
}

.block_title {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
}

.block_title:before {
	position: absolute;
	content: "";
	height: 4px;
	display: block;
	background: #ecc846;
	left: 0;
	bottom: -8px;
	width: 40px;
}
.hash_value {
	font-family: monospace;
    font-size: 12px;
}

.zenroom {
	padding: 16px;
    background: #f7f7ff0d;
	border-radius: 6px;
	margin-top: 24px;
}

.zenroom h5 {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
}
.zenroom h5:before {
	position: absolute;
	content: "";
	height: 4px;
	display: block;
	background: #ecc846;
	left: 0;
	bottom: -8px;
	width: 40px;
}

.zenroom .payload_item {
	margin-bottom: 0;
}

/* RESPONSIVE */
@media screen and (max-width: 840px) {
	.card-info {
		display: block;
		float: none !important;
	}


	.qrcode {
		margin: 0 auto;
		float: none !important;
		width: 250px;
		text-align: center;
		height: 250px;
		display: block;
	}
  }
